.favorite {
  position: relative;
  font-size: 1em;
  width: 1em;
  height: 1em;
  .favorite-check,
  .favorite-uncheck {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease;
  }
  // .favorite-check {
  //   opacity: 0;
  //   background: -webkit-gradient(
  //     linear,
  //     left top,
  //     left bottom,
  //     from($primary-color),
  //     to($secondary-color)
  //   );
  //   background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   &:hover {
  //     opacity: 1;
  //   }
  //   .favorite-uncheck {
  //     opacity: 1;
  //     &:hover {
  //       display: none;
  //     }
  //   }
  //   .fa-solid {
  //     font-weight: 900;

  // }
}
