.page-restaurant {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__logo {
    width: 200px;
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    padding: 14px 89px 13px 17px;
    &__content {
      display: flex;
      justify-content: space-between;
      width: 70%;
    }
  }
  &__icon {
    width: 2em;
    font-size: 1.5em;
  }
  &__heart {
    width: 1.1em;
    font-size: 1.2em;
    position: absolute;
    right: 25px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-top: -55px;
    border: 1px solid white;
    border-radius: 35px 35px 0 0;
    background-color: $bg-primary-color;
    padding: 0 20px;
    padding-bottom: 40px;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 32px;
      font-size: 1.25em;
      font-size: 25px;
    }
  }
  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  &__title {
    font-size: 28px;
    font-weight: 400;
  }
  &__starter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__title {
      border-bottom: solid 3px $bg-badge-color;
      width: 40px;
      text-transform: uppercase;
      padding-bottom: 5px;
      font-weight: 100;
    }
  }
  &__card {
    background-color: white;
    padding: 15px;
    padding-left: 1.5em;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    &__content {
      display: flex;
      justify-content: space-between;
      padding-top: 5px;
    }
  }
  &__button {
    min-width: 186px;
    padding: 16px;
    margin: auto;
  }
  @media screen and (min-width: 1024px) {
    &__header {
      padding: 30px 100px 32px 17px;
      &__content {
        width: 60%;
      }
    }
    &__image {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    &__content {
      width: 1200px;
      margin: auto;
      margin-top: -40px;
      &__header {
        justify-content: center;
      }
    }
    &__heart {
      right: 23%;
    }
    &__starter {
      width: 60%;
      margin: auto;

      &__title {
        align-items: flex-start;
      }
    }
  }
}
